body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.seal10-stamp {
    width: 34.5mm;
    height: 6.069mm;
    border: 2pt solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}

.seal10-text {
    font-family: 'Swis721 Cn BT', sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 1;
}
