<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Closed Stamp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal5-stamp">
        <div class="seal5-title">THE FEDERAL BANK LTD.</div>
        <div class="seal5-branch">Papanaickenpalayam Branch</div>
        <div class="seal5-rectangle"></div>
        <div class="seal5-account-closed-on">ACCOUNT CLOSED ON </div>
    </div>
</body>
</html>
