body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.seal5-stamp {
    width: 48mm;
    height: 29mm;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px;
}

.seal5-title {
    font-family: 'Diavlo', sans-serif;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
}

.seal5-branch {
    font-family: Arial, sans-serif;
    font-size: 9.5pt;
    font-weight: bold;
    text-align: center;
    margin-top: -5px;
}

.seal5-rectangle {
    width: 26mm;
    height: 12mm;
    border: 0.5px solid black;
    background-color: white;
}

.seal5-account-closed-on {
    font-family: 'Swis721 Cn BT ', sans-serif;
    font-size: 11.2pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
