<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal Bank</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal6container">
        <div class="seal6bank-title">
             <span style="font-weight: 900;">For THE FEDERAL BANK LTD.</span>
        </div>
        <div class="seal6branch-details">
            <p>Branch Head</p>
            <p>Kalingarayanpalayam Branch</p>
        </div>
    </div>
</body>
</html>
