<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cts Clearing Stamp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal4-stamp">
        <div class="seal4-title">THE FEDERAL BANK LTD.</div>
        <div class="seal4-branch">Patlur Branch</div>
        <div class="seal4-rectangle"></div>
        <div class="seal4-cts-clearing">CTS CLEARING</div>
    </div>
</body>
</html>
