<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Stamp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal3-stamp">
        <div class="seal3-title">THE FEDERAL BANK LTD.</div>
        <div class="seal3-branch">Patlur Branch</div>
        <div class="seal3-rectangle"></div>
        <div class="seal3-transfer">TRANSFER</div>
    </div>
</body>
</html>
