<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal Bank</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal7container">
        <div class="seal7head">ORIGINAL SEEN AND VERIFIED</div>
        <div class="seal7bank-title">
            <span style="font-weight: 900;">For THE FEDERAL BANK LTD.</span>
        </div>
        <div class="seal7branch-details">
            <p>Assistant Manager</p>
            <p class="seal7barnch">Kalingarayanpalayam Branch</p>
        </div>
    </div>
</body>
</html>
